* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
  }


  .login,
  .navigation,
  .langue {
    display: none;
  }

nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #f28607;
    align-items: center;
  }

  .mobilhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
  ul{
    display: flex;
  }
  li {
    list-style: none;
    padding: 10px;
  }
  a {
    text-decoration: none;
  }
  .txt-black {
    color: black;
  }

  /* debut langue */
#langue {
    border-radius: 20px;
    background-color: #d9d9d9;
    color: black;
    padding: 5px 12px 5px 15px;
  }
  
  .langue {
    padding-right: 10px;
  }
  
  /* bouton dropdown */
  
  .dropbtn {
    color: black;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px black;
    width: 50px;
    height: 50px;
    background-color: #f28607;
  }
  .dropbtn::before {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
  }
  
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    border-radius: 2%;
    font-size: large;
    transform: translatex(-30%);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #f28607;
  }
  
  .show {
    display: block;
  }

  nav {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    display: flex;
  }
  
  .logocontainer {
    height: 12.5vh;
    padding: 10px;
    width: 12.5vh;
  }
  .logo {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .search {
height: fit-content;
width: fit-content;
  }
  .textinput::placeholder {
    color: black;
    opacity: 1;
    padding: 5px;
    padding-left: 20px;
  }
  .textinput {
    border-radius: 50px;
    height: 5vh;
    width: 25vw;
    position: relative;
    padding: 1vw;
  }
  
  .searchicon {
    transform: translatex(-200%);
  }
  
  a:hover {
    color: aliceblue;
    text-decoration: underline overline aliceblue;
    font-size: 1.3em;
  }
  /* fin barre de recherche */
  

  @media screen and (min-width:768px){
   .dropbtn{
    display: none;
   }
   .mobilhead{
    width: unset;
   }
    .login,
  .navigation,
  .langue {
    display: block;
  }
  }